.app__card3 {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #222;
    cursor: pointer;
    transition: 0.5s ease;
}

.app__card3:hover {
    background: #111;
}

.app__card3 img {
    width: 100%;
}

.app__card3-info {
    padding: 15px;
    font-family: 'Kanit', sans-serif;
    transition: 0.5s ease;
}

.app__card3-info h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.app__card3-info p {
    line-height: 20px;
    font-size: 16px;
    color: #aaa;
}

@media screen and (max-width: 850px) {

    .app__card3-info h3 {
        font-size: 18px;
    }

    .app__card3-info p {
        font-size: 14px;
    }
}

@media screen and (max-width: 650px)  {

    .app__card3-info {
        padding: 10px;
    }

    .app__card3-info h3 {
        font-size: 16px;
    }

    .app__card3-info p {
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 450px)  {

    .app__card3-info {
        padding: 10px;
    }

    .app__card3-info h3 {
        font-size: 16px;
    }

    .app__card3-info p {
        font-size: 12px;
    }
}